USE [DB_QLHV]
GO
/****** Object:  Table [dbo].[AnhTieuBieu]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhTieuBieu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UrlAnh] [varchar](max) NULL,
	[TieuDe] [nvarchar](max) NULL,
	[NgayDang] [date] NULL,
	[MaHV] [varchar](15) NULL,
 CONSTRAINT [PK__AnhTieuB__3214EC27286B35F7] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BCH_CD]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BCH_CD](
	[MaBCH] [int] IDENTITY(1,1) NOT NULL,
	[MaCD] [int] NULL,
	[MaHV] [varchar](15) NULL,
	[ViTri] [int] NOT NULL,
	[NhiemKy] [int] NOT NULL,
	[NamBatDau] [int] NULL,
	[NamKetThuc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BCH_HPN]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BCH_HPN](
	[MaBCH] [int] IDENTITY(1,1) NOT NULL,
	[MaHPN] [int] NULL,
	[MaHV] [varchar](15) NULL,
	[ViTri] [int] NOT NULL,
	[NhiemKy] [int] NOT NULL,
	[NamBatDau] [int] NULL,
	[NamKetThuc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CapBac]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapBac](
	[MaCB] [int] IDENTITY(1,1) NOT NULL,
	[TenCB] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CapLaiMatKhau]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapLaiMatKhau](
	[MaCLMK] [int] IDENTITY(1,1) NOT NULL,
	[TenDN] [varchar](25) NULL,
	[MaHV] [varchar](15) NULL,
	[Code] [int] NOT NULL,
	[TinhTrang] [bit] NOT NULL,
	[EditTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCLMK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiBo]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiBo](
	[MaChiBo] [int] IDENTITY(1,1) NOT NULL,
	[TenChiBo] [nvarchar](100) NULL,
 CONSTRAINT [PK__ChiBo__EBA100002B7A1E84] PRIMARY KEY CLUSTERED 
(
	[MaChiBo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucDanh]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucDanh](
	[MaCD] [int] IDENTITY(1,1) NOT NULL,
	[TenCD] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongDoan]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongDoan](
	[MaCD] [int] IDENTITY(1,1) NOT NULL,
	[TenCD] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongVanBaoCao]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongVanBaoCao](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](max) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NoiGui] [int] NOT NULL,
	[ThoiGianGui] [datetime] NOT NULL,
	[TepDinhKem] [nvarchar](max) NULL,
	[DaXem] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangUy]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangUy](
	[MaDangUy] [int] IDENTITY(1,1) NOT NULL,
	[TenDangUy] [nvarchar](100) NULL,
 CONSTRAINT [PK__DangUy__BA90C0F9327356E3] PRIMARY KEY CLUSTERED 
(
	[MaDangUy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhHieu]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhHieu](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[TenDH] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachBieuDuongPTTD]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachBieuDuongPTTD](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[MaHV] [varchar](15) NOT NULL,
	[MaPTTD] [int] NOT NULL,
	[XacNhan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonVi]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonVi](
	[MaDV] [int] IDENTITY(1,1) NOT NULL,
	[TenDV] [nvarchar](25) NOT NULL,
	[EditTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoanCanhGD]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoanCanhGD](
	[MaHCGD] [int] IDENTITY(1,1) NOT NULL,
	[MaHV] [varchar](15) NULL,
	[Nam] [int] NOT NULL,
	[MatChongVo] [bit] NULL,
	[LyHon] [bit] NULL,
	[NuoiConMotMinh] [bit] NULL,
	[HoNgheo] [bit] NULL,
	[HoCanNgheo] [bit] NULL,
	[BenhAnBanThan] [nvarchar](100) NULL,
	[BenhAnConCai] [nvarchar](100) NULL,
	[NhaCua] [bit] NULL,
	[VoChong] [bit] NULL,
	[DaCoChong] [bit] NULL,
	[ConBiBenh] [bit] NULL,
	[ConDuoi16Tuoi] [bit] NULL,
	[MacBenhHiemNgheo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHCGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoatDong]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoatDong](
	[MaHoatDong] [int] IDENTITY(1,1) NOT NULL,
	[MaLoaiHoatDong] [int] NULL,
	[TongTienThuDuoc] [int] NULL,
	[TenHoatDong] [nvarchar](max) NULL,
	[ThoiGian] [date] NOT NULL,
	[MaHPN] [int] NULL,
 CONSTRAINT [PK__HoatDong__BD808BE7E0801190] PRIMARY KEY CLUSTERED 
(
	[MaHoatDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoatDong_HoiVien]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoatDong_HoiVien](
	[MaHD_HV] [int] IDENTITY(1,1) NOT NULL,
	[MaHoatDong] [int] NOT NULL,
	[MaHV] [varchar](15) NULL,
	[SoTien] [int] NULL,
	[XacNhan] [bit] NULL,
 CONSTRAINT [PK__HoatDong__5B8BBCDAE8B0BD03] PRIMARY KEY CLUSTERED 
(
	[MaHD_HV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoiPhuNu]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiPhuNu](
	[MaHPN] [int] IDENTITY(1,1) NOT NULL,
	[TenHPN] [nvarchar](25) NOT NULL,
	[MaHV] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoiVien]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiVien](
	[MaHV] [varchar](15) NOT NULL,
	[TenHV] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NOT NULL,
	[DanToc] [nvarchar](25) NULL,
	[Email] [varchar](50) NULL,
	[SDT] [varchar](20) NULL,
	[NamNhapNgu] [int] NULL,
	[BacTho] [smallint] NULL,
	[MaLDV] [int] NULL,
	[MaLHV] [int] NULL,
	[MaDV] [int] NULL,
	[MaHPN] [int] NULL,
	[MaCD] [int] NULL,
	[MaVTDU] [int] NULL,
	[MaVTCB] [int] NULL,
	[MaVTDT] [int] NULL,
	[EditTime] [datetime] NULL,
	[Quequan] [nvarchar](50) NULL,
	[Noiohiennay] [nvarchar](50) NULL,
	[avatar] [nvarchar](max) NULL,
	[NgayVaoDang] [date] NULL,
	[NgayChinhThuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoiVien_ChiBo]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiVien_ChiBo](
	[MaVTCB] [int] IDENTITY(1,1) NOT NULL,
	[TenVTCB] [nvarchar](25) NOT NULL,
	[MaHV] [varchar](15) NULL,
	[MaChiBo] [int] NULL,
	[KetThuc] [date] NULL,
	[BatDau] [date] NULL,
	[XacNhan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVTCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoiVien_DangUy]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiVien_DangUy](
	[MaVTDU] [int] IDENTITY(1,1) NOT NULL,
	[TenVTDU] [nvarchar](25) NOT NULL,
	[MaDangUy] [int] NULL,
	[MaHV] [varchar](15) NULL,
	[KetThuc] [date] NULL,
	[BatDau] [date] NULL,
	[XacNhan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVTDU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhenThuong]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhenThuong](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[TenKhenThuong] [nvarchar](50) NULL,
	[LyDo] [nvarchar](max) NULL,
	[Nam] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaHV] [varchar](15) NULL,
	[XacNhan] [bit] NULL,
 CONSTRAINT [PK__KhenThuo__3214CC9FCA6E4CEF] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KyLuat]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KyLuat](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[HinhThucKyLuat] [nvarchar](50) NULL,
	[LyDo] [nvarchar](max) NULL,
	[Nam] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaHV] [varchar](15) NULL,
 CONSTRAINT [PK__KyLuat__3214CC9F56541445] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LaoDongSangTao]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaoDongSangTao](
	[MaLDST] [int] IDENTITY(1,1) NOT NULL,
	[TenDeTai] [nvarchar](200) NULL,
	[MaLoaiLDST] [int] NULL,
	[KetQua] [nvarchar](100) NULL,
	[Nam] [int] NULL,
	[MaHV] [varchar](15) NULL,
	[XacNhan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLDST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuCapBac]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuCapBac](
	[MaLSCD] [int] IDENTITY(1,1) NOT NULL,
	[MaCB] [int] NULL,
	[MaHV] [varchar](15) NULL,
	[NgayQD] [date] NULL,
	[XacNhan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLSCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuChucDanh]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuChucDanh](
	[MaLSCD] [int] IDENTITY(1,1) NOT NULL,
	[MaCD] [int] NULL,
	[MaHV] [varchar](15) NULL,
	[NgayQD] [date] NULL,
	[XacNhan] [bit] NULL,
	[MaDV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLSCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuDanhHieu]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuDanhHieu](
	[MaLSDH] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [int] NULL,
	[MaHV] [varchar](15) NULL,
	[NgayQD] [date] NULL,
	[XacNhan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLSDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTrinhDo]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTrinhDo](
	[MaLSTD] [int] IDENTITY(1,1) NOT NULL,
	[MaTD] [int] NULL,
	[MaHV] [varchar](15) NULL,
	[NganhHoc] [nvarchar](100) NULL,
	[TruongCap] [nvarchar](100) NULL,
	[NgayQD] [date] NULL,
	[XacNhan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLSTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDangVien]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDangVien](
	[MaLDV] [int] IDENTITY(1,1) NOT NULL,
	[TenLDV] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHoatDong]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHoatDong](
	[MaLoaiHoatDong] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiHoatDong] [nvarchar](100) NULL,
 CONSTRAINT [PK__LoaiHoat__4879CED5C6A52C36] PRIMARY KEY CLUSTERED 
(
	[MaLoaiHoatDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHoiVien]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHoiVien](
	[MaLHV] [int] IDENTITY(1,1) NOT NULL,
	[TenLHV] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiLDST]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiLDST](
	[MaLoaiLDST] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiLDST] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiLDST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTinBai]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTinBai](
	[MaLoaiTinbai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiTinBai] [nvarchar](100) NULL,
 CONSTRAINT [PK__LoaiTinB__EFEEEA1DA874716A] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTinbai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoiNhan]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoiNhan](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[MaHPN] [int] NOT NULL,
	[MaCongVan] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongTraoThiDua]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongTraoThiDua](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[TenPhongTraoThiDua] [nvarchar](max) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[SoLuongDeCu] [int] NULL,
	[Khoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDN] [varchar](25) NOT NULL,
	[MatKhau] [nvarchar](max) NULL,
	[Quyen] [int] NOT NULL,
	[MaHV] [varchar](15) NULL,
	[EditTime] [datetime] NOT NULL,
	[Khoa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThamGia]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThamGia](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[DonVi] [nvarchar](100) NULL,
	[MaLDST] [int] NULL,
	[VaiTro] [nvarchar](50) NULL,
	[MaHV] [varchar](15) NULL,
 CONSTRAINT [PK__ThamGia__3214CC9FEC79B954] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinBai]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinBai](
	[MaTinBai] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](100) NULL,
	[NgayDang] [date] NULL,
	[LuotXem] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NoiDungTomTat] [nvarchar](max) NULL,
	[Img] [varchar](50) NULL,
	[imgtitle] [nvarchar](max) NULL,
	[MaHV] [varchar](15) NULL,
	[MaLoaiTinBai] [int] NULL,
	[NguoiViet] [nvarchar](50) NULL,
	[DonVi] [nvarchar](50) NULL,
	[Img1] [varchar](50) NULL,
	[imgtitle1] [nvarchar](max) NULL,
	[PheDuyet] [bit] NULL,
 CONSTRAINT [PK__TinBai__B8FB4FAB488F2C63] PRIMARY KEY CLUSTERED 
(
	[MaTinBai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToChucDoanThe]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToChucDoanThe](
	[MaVTDT] [int] IDENTITY(1,1) NOT NULL,
	[TenVTDT] [nvarchar](25) NOT NULL,
	[NamBatDau] [int] NULL,
	[NamKetThuc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVTDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrinhDo]    Script Date: 10/9/2023 6:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrinhDo](
	[MaTD] [int] IDENTITY(1,1) NOT NULL,
	[TenTD] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AnhTieuBieu] ON 

INSERT [dbo].[AnhTieuBieu] ([ID], [UrlAnh], [TieuDe], [NgayDang], [MaHV]) VALUES (1, N'IMG_2588.jpg', N'Ngày hội sinh viên', CAST(N'2023-08-29' AS Date), NULL)
INSERT [dbo].[AnhTieuBieu] ([ID], [UrlAnh], [TieuDe], [NgayDang], [MaHV]) VALUES (2, N'IMG_2891.jpg', N'Lễ ra quân huấn luyện', CAST(N'2023-08-29' AS Date), NULL)
INSERT [dbo].[AnhTieuBieu] ([ID], [UrlAnh], [TieuDe], [NgayDang], [MaHV]) VALUES (3, N'IMG_2970.jpg', N'Duyệt đội ngũ trong ngày khai giảng', CAST(N'2023-08-29' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[AnhTieuBieu] OFF
GO
SET IDENTITY_INSERT [dbo].[BCH_CD] ON 

INSERT [dbo].[BCH_CD] ([MaBCH], [MaCD], [MaHV], [ViTri], [NhiemKy], [NamBatDau], [NamKetThuc]) VALUES (1, 2, N'07002922', 3, 7, 2017, NULL)
INSERT [dbo].[BCH_CD] ([MaBCH], [MaCD], [MaHV], [ViTri], [NhiemKy], [NamBatDau], [NamKetThuc]) VALUES (2, 2, N'15252521', 2, 7, 2017, NULL)
INSERT [dbo].[BCH_CD] ([MaBCH], [MaCD], [MaHV], [ViTri], [NhiemKy], [NamBatDau], [NamKetThuc]) VALUES (3, 2, N'17486525', 1, 7, 2017, NULL)
SET IDENTITY_INSERT [dbo].[BCH_CD] OFF
GO
SET IDENTITY_INSERT [dbo].[BCH_HPN] ON 

INSERT [dbo].[BCH_HPN] ([MaBCH], [MaHPN], [MaHV], [ViTri], [NhiemKy], [NamBatDau], [NamKetThuc]) VALUES (1, 2, N'07002922', 1, 8, 2021, NULL)
INSERT [dbo].[BCH_HPN] ([MaBCH], [MaHPN], [MaHV], [ViTri], [NhiemKy], [NamBatDau], [NamKetThuc]) VALUES (2, 2, N'07002938', 2, 8, 2021, NULL)
INSERT [dbo].[BCH_HPN] ([MaBCH], [MaHPN], [MaHV], [ViTri], [NhiemKy], [NamBatDau], [NamKetThuc]) VALUES (3, 2, N'20QS044', 2, 8, 2021, NULL)
SET IDENTITY_INSERT [dbo].[BCH_HPN] OFF
GO
SET IDENTITY_INSERT [dbo].[CapBac] ON 

INSERT [dbo].[CapBac] ([MaCB], [TenCB]) VALUES (1, N'Hạ sĩ')
INSERT [dbo].[CapBac] ([MaCB], [TenCB]) VALUES (2, N'Trung sĩ')
INSERT [dbo].[CapBac] ([MaCB], [TenCB]) VALUES (3, N'Thượng sĩ')
SET IDENTITY_INSERT [dbo].[CapBac] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiBo] ON 

INSERT [dbo].[ChiBo] ([MaChiBo], [TenChiBo]) VALUES (1, N'Chi bộ bộ môn KHMT')
INSERT [dbo].[ChiBo] ([MaChiBo], [TenChiBo]) VALUES (2, N'Chi bộ Đại đội 154')
INSERT [dbo].[ChiBo] ([MaChiBo], [TenChiBo]) VALUES (3, N'Chi bộ Đại đội 155')
SET IDENTITY_INSERT [dbo].[ChiBo] OFF
GO
SET IDENTITY_INSERT [dbo].[ChucDanh] ON 

INSERT [dbo].[ChucDanh] ([MaCD], [TenCD]) VALUES (1, N'CN Khoa')
INSERT [dbo].[ChucDanh] ([MaCD], [TenCD]) VALUES (2, N'Phó CN Khoa')
INSERT [dbo].[ChucDanh] ([MaCD], [TenCD]) VALUES (3, N'CN Bộ môn')
SET IDENTITY_INSERT [dbo].[ChucDanh] OFF
GO
SET IDENTITY_INSERT [dbo].[CongDoan] ON 

INSERT [dbo].[CongDoan] ([MaCD], [TenCD]) VALUES (1, N'Công Đoàn d1')
INSERT [dbo].[CongDoan] ([MaCD], [TenCD]) VALUES (2, N'Công Đoàn d3')
INSERT [dbo].[CongDoan] ([MaCD], [TenCD]) VALUES (3, N'Công Đoàn K12')
SET IDENTITY_INSERT [dbo].[CongDoan] OFF
GO
SET IDENTITY_INSERT [dbo].[CongVanBaoCao] ON 

INSERT [dbo].[CongVanBaoCao] ([Ma], [TieuDe], [NoiDung], [NoiGui], [ThoiGianGui], [TepDinhKem], [DaXem]) VALUES (1, N'test', N'test', 0, CAST(N'2023-09-12T12:05:18.177' AS DateTime), N'5_FTPServer.docx', 1)
INSERT [dbo].[CongVanBaoCao] ([Ma], [TieuDe], [NoiDung], [NoiGui], [ThoiGianGui], [TepDinhKem], [DaXem]) VALUES (2, N'a', N'aa', 0, CAST(N'2023-09-12T12:07:47.043' AS DateTime), N'5_TranDoanTuan.docx', 1)
INSERT [dbo].[CongVanBaoCao] ([Ma], [TieuDe], [NoiDung], [NoiGui], [ThoiGianGui], [TepDinhKem], [DaXem]) VALUES (3, N'a', N'a', 1, CAST(N'2023-09-12T12:08:49.897' AS DateTime), N'7.1.TỜKHAIYTEBATBUOCSaukhilênhè.docx', 1)
SET IDENTITY_INSERT [dbo].[CongVanBaoCao] OFF
GO
SET IDENTITY_INSERT [dbo].[DangUy] ON 

INSERT [dbo].[DangUy] ([MaDangUy], [TenDangUy]) VALUES (1, N'Đảng ủy Học viện')
INSERT [dbo].[DangUy] ([MaDangUy], [TenDangUy]) VALUES (2, N'Đảng ủy Tiểu đoàn 1')
INSERT [dbo].[DangUy] ([MaDangUy], [TenDangUy]) VALUES (3, N'Đảng ủy Tiểu đoàn 2')
SET IDENTITY_INSERT [dbo].[DangUy] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhHieu] ON 

INSERT [dbo].[DanhHieu] ([MaDH], [TenDH]) VALUES (1, N'Trợ giảng')
INSERT [dbo].[DanhHieu] ([MaDH], [TenDH]) VALUES (2, N'Giảng viên')
INSERT [dbo].[DanhHieu] ([MaDH], [TenDH]) VALUES (3, N'Giảng viên chính')
SET IDENTITY_INSERT [dbo].[DanhHieu] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhSachBieuDuongPTTD] ON 

INSERT [dbo].[DanhSachBieuDuongPTTD] ([Ma], [MaHV], [MaPTTD], [XacNhan]) VALUES (4, N'1', 1, 1)
INSERT [dbo].[DanhSachBieuDuongPTTD] ([Ma], [MaHV], [MaPTTD], [XacNhan]) VALUES (5, N'19QS044', 1, 1)
INSERT [dbo].[DanhSachBieuDuongPTTD] ([Ma], [MaHV], [MaPTTD], [XacNhan]) VALUES (8, N'10KC0658', 1, 0)
SET IDENTITY_INSERT [dbo].[DanhSachBieuDuongPTTD] OFF
GO
SET IDENTITY_INSERT [dbo].[DonVi] ON 

INSERT [dbo].[DonVi] ([MaDV], [TenDV], [EditTime]) VALUES (1, N'P1', CAST(N'2023-04-22T16:25:52.560' AS DateTime))
INSERT [dbo].[DonVi] ([MaDV], [TenDV], [EditTime]) VALUES (2, N'P2', CAST(N'2023-04-22T16:25:52.560' AS DateTime))
INSERT [dbo].[DonVi] ([MaDV], [TenDV], [EditTime]) VALUES (3, N'P3', CAST(N'2023-04-22T16:25:52.560' AS DateTime))
SET IDENTITY_INSERT [dbo].[DonVi] OFF
GO
SET IDENTITY_INSERT [dbo].[HoanCanhGD] ON 

INSERT [dbo].[HoanCanhGD] ([MaHCGD], [MaHV], [Nam], [MatChongVo], [LyHon], [NuoiConMotMinh], [HoNgheo], [HoCanNgheo], [BenhAnBanThan], [BenhAnConCai], [NhaCua], [VoChong], [DaCoChong], [ConBiBenh], [ConDuoi16Tuoi], [MacBenhHiemNgheo]) VALUES (1, N'07002922', 2021, 0, 0, 0, 0, 0, NULL, NULL, 0, 1, 1, 1, 1, 0)
INSERT [dbo].[HoanCanhGD] ([MaHCGD], [MaHV], [Nam], [MatChongVo], [LyHon], [NuoiConMotMinh], [HoNgheo], [HoCanNgheo], [BenhAnBanThan], [BenhAnConCai], [NhaCua], [VoChong], [DaCoChong], [ConBiBenh], [ConDuoi16Tuoi], [MacBenhHiemNgheo]) VALUES (2, N'07002938', 2021, 0, 0, 0, 0, 0, NULL, N'con mổ tim', 0, 0, 1, 1, 1, 0)
INSERT [dbo].[HoanCanhGD] ([MaHCGD], [MaHV], [Nam], [MatChongVo], [LyHon], [NuoiConMotMinh], [HoNgheo], [HoCanNgheo], [BenhAnBanThan], [BenhAnConCai], [NhaCua], [VoChong], [DaCoChong], [ConBiBenh], [ConDuoi16Tuoi], [MacBenhHiemNgheo]) VALUES (3, N'20QS044', 2021, 0, 0, 0, 0, 0, NULL, NULL, 0, 0, 1, 1, 1, 0)
SET IDENTITY_INSERT [dbo].[HoanCanhGD] OFF
GO
SET IDENTITY_INSERT [dbo].[HoatDong] ON 

INSERT [dbo].[HoatDong] ([MaHoatDong], [MaLoaiHoatDong], [TongTienThuDuoc], [TenHoatDong], [ThoiGian], [MaHPN]) VALUES (1, 1, 123312000, N'Ủng hộ đồng bào bị thiên tai, hoạn nạn', CAST(N'2022-04-05' AS Date), 0)
INSERT [dbo].[HoatDong] ([MaHoatDong], [MaLoaiHoatDong], [TongTienThuDuoc], [TenHoatDong], [ThoiGian], [MaHPN]) VALUES (2, 2, NULL, N'Hoạt động văn nghệ chào mừng Quốc khánh 2/9', CAST(N'2022-04-05' AS Date), 0)
INSERT [dbo].[HoatDong] ([MaHoatDong], [MaLoaiHoatDong], [TongTienThuDuoc], [TenHoatDong], [ThoiGian], [MaHPN]) VALUES (7, 3, 1000000, N'Ủng hộ hội viên a bị tai nạn', CAST(N'2023-09-12' AS Date), 0)
SET IDENTITY_INSERT [dbo].[HoatDong] OFF
GO
SET IDENTITY_INSERT [dbo].[HoatDong_HoiVien] ON 

INSERT [dbo].[HoatDong_HoiVien] ([MaHD_HV], [MaHoatDong], [MaHV], [SoTien], [XacNhan]) VALUES (4, 1, N'1', 119000000, 1)
INSERT [dbo].[HoatDong_HoiVien] ([MaHD_HV], [MaHoatDong], [MaHV], [SoTien], [XacNhan]) VALUES (5, 1, N'1875200125', 100000, 1)
INSERT [dbo].[HoatDong_HoiVien] ([MaHD_HV], [MaHoatDong], [MaHV], [SoTien], [XacNhan]) VALUES (6, 1, N'1254TG5022', 200000, 1)
SET IDENTITY_INSERT [dbo].[HoatDong_HoiVien] OFF
GO
SET IDENTITY_INSERT [dbo].[HoiPhuNu] ON 

INSERT [dbo].[HoiPhuNu] ([MaHPN], [TenHPN], [MaHV]) VALUES (1, N'HPN d1', N'070029225')
INSERT [dbo].[HoiPhuNu] ([MaHPN], [TenHPN], [MaHV]) VALUES (2, N'HPN d3', N'07002922')
INSERT [dbo].[HoiPhuNu] ([MaHPN], [TenHPN], [MaHV]) VALUES (3, N'HPN V4', N'1875200125')
SET IDENTITY_INSERT [dbo].[HoiPhuNu] OFF
GO
INSERT [dbo].[HoiVien] ([MaHV], [TenHV], [NgaySinh], [GioiTinh], [DanToc], [Email], [SDT], [NamNhapNgu], [BacTho], [MaLDV], [MaLHV], [MaDV], [MaHPN], [MaCD], [MaVTDU], [MaVTCB], [MaVTDT], [EditTime], [Quequan], [Noiohiennay], [avatar], [NgayVaoDang], [NgayChinhThuc]) VALUES (N'07002417', N'Tống Thị Hồng Tươi', CAST(N'1971-08-12' AS Date), 0, N'Kinh', N'TTHongTuoi@gmail.com', N'0915692354', 1989, 3, 1, 2, 36, 1, NULL, NULL, NULL, NULL, CAST(N'2023-04-22T16:25:52.570' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HoiVien] ([MaHV], [TenHV], [NgaySinh], [GioiTinh], [DanToc], [Email], [SDT], [NamNhapNgu], [BacTho], [MaLDV], [MaLHV], [MaDV], [MaHPN], [MaCD], [MaVTDU], [MaVTCB], [MaVTDT], [EditTime], [Quequan], [Noiohiennay], [avatar], [NgayVaoDang], [NgayChinhThuc]) VALUES (N'07002922', N'Nguyễn Thị Tuyết', CAST(N'1980-10-20' AS Date), 0, N'Kinh', N'abc@gmail.com', N'0988123765', 2003, 2, 1, 2, 38, 2, 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HoiVien] ([MaHV], [TenHV], [NgaySinh], [GioiTinh], [DanToc], [Email], [SDT], [NamNhapNgu], [BacTho], [MaLDV], [MaLHV], [MaDV], [MaHPN], [MaCD], [MaVTDU], [MaVTCB], [MaVTDT], [EditTime], [Quequan], [Noiohiennay], [avatar], [NgayVaoDang], [NgayChinhThuc]) VALUES (N'070029225', N'Nguyễn Thị Hoa Sáu', CAST(N'1970-02-12' AS Date), 0, N'Kinh', N'NguyenThiHoaSau@gmail.com', N'0917598282', 1988, 3, 1, 1, 36, 1, NULL, NULL, 1, NULL, CAST(N'2023-04-22T16:25:52.570' AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[HoiVien_ChiBo] ON 

INSERT [dbo].[HoiVien_ChiBo] ([MaVTCB], [TenVTCB], [MaHV], [MaChiBo], [KetThuc], [BatDau], [XacNhan]) VALUES (1, N'Đảng viên', N'19QS015', 2, CAST(N'2020-04-05' AS Date), CAST(N'2018-03-04' AS Date), 1)
INSERT [dbo].[HoiVien_ChiBo] ([MaVTCB], [TenVTCB], [MaHV], [MaChiBo], [KetThuc], [BatDau], [XacNhan]) VALUES (2, N'Chi ủy viên', N'19QS015', 2, CAST(N'2023-03-12' AS Date), CAST(N'2020-04-06' AS Date), 1)
INSERT [dbo].[HoiVien_ChiBo] ([MaVTCB], [TenVTCB], [MaHV], [MaChiBo], [KetThuc], [BatDau], [XacNhan]) VALUES (3, N'Đảng viên', N'2019010019', 3, NULL, CAST(N'2018-03-04' AS Date), 1)
SET IDENTITY_INSERT [dbo].[HoiVien_ChiBo] OFF
GO
SET IDENTITY_INSERT [dbo].[HoiVien_DangUy] ON 

INSERT [dbo].[HoiVien_DangUy] ([MaVTDU], [TenVTDU], [MaDangUy], [MaHV], [KetThuc], [BatDau], [XacNhan]) VALUES (1, N'Đảng uỷ viên', 2, N'19QS015', NULL, CAST(N'2023-04-05' AS Date), 1)
INSERT [dbo].[HoiVien_DangUy] ([MaVTDU], [TenVTDU], [MaDangUy], [MaHV], [KetThuc], [BatDau], [XacNhan]) VALUES (2, N'Đảng ủy viên', 3, N'19QS015', NULL, CAST(N'2023-09-10' AS Date), 0)
SET IDENTITY_INSERT [dbo].[HoiVien_DangUy] OFF
GO
SET IDENTITY_INSERT [dbo].[KhenThuong] ON 

INSERT [dbo].[KhenThuong] ([Ma], [TenKhenThuong], [LyDo], [Nam], [GhiChu], [MaHV], [XacNhan]) VALUES (1, N'Chiến sĩ thi đua cơ sở', N'Đạt thành tích xuất sắc trong phong trào thi đua quyết thắng năm học 2018-2019', 2019, NULL, N'19QS015', 1)
INSERT [dbo].[KhenThuong] ([Ma], [TenKhenThuong], [LyDo], [Nam], [GhiChu], [MaHV], [XacNhan]) VALUES (2, N'Chiến sĩ thi đua cơ sở', N'Đạt thành tích xuất sắc trong phong trào thi đua quyết thắng năm học 2018-2019', 2019, NULL, N'19QS044', 1)
INSERT [dbo].[KhenThuong] ([Ma], [TenKhenThuong], [LyDo], [Nam], [GhiChu], [MaHV], [XacNhan]) VALUES (3, N'Chiến sĩ tiên tiến', N'Đạt thành tích tốt trong phong trào thi đua quyết thắng năm học 2021-2022', 2022, NULL, N'2019010041', 1)
SET IDENTITY_INSERT [dbo].[KhenThuong] OFF
GO
SET IDENTITY_INSERT [dbo].[KyLuat] ON 

INSERT [dbo].[KyLuat] ([Ma], [HinhThucKyLuat], [LyDo], [Nam], [GhiChu], [MaHV]) VALUES (1, N'Khiển trách', N'Sinh con thứ 3', 2022, NULL, N'19QS015')
INSERT [dbo].[KyLuat] ([Ma], [HinhThucKyLuat], [LyDo], [Nam], [GhiChu], [MaHV]) VALUES (2, N'Khiển trách', N'Sinh con thứ 3', 2021, NULL, N'1')
INSERT [dbo].[KyLuat] ([Ma], [HinhThucKyLuat], [LyDo], [Nam], [GhiChu], [MaHV]) VALUES (4, N'Cảnh cáo', N'abc', 2020, N'abc', N'1')
SET IDENTITY_INSERT [dbo].[KyLuat] OFF
GO
SET IDENTITY_INSERT [dbo].[LaoDongSangTao] ON 

INSERT [dbo].[LaoDongSangTao] ([MaLDST], [TenDeTai], [MaLoaiLDST], [KetQua], [Nam], [MaHV], [XacNhan]) VALUES (1, N'Nghiên cứu ', 3, N'Giấy khen', 2020, N'1875200125', 1)
INSERT [dbo].[LaoDongSangTao] ([MaLDST], [TenDeTai], [MaLoaiLDST], [KetQua], [Nam], [MaHV], [XacNhan]) VALUES (2, N'Nghiên cứu ', 3, N'Giấy khen', 2021, N'19QS015', 1)
INSERT [dbo].[LaoDongSangTao] ([MaLDST], [TenDeTai], [MaLoaiLDST], [KetQua], [Nam], [MaHV], [XacNhan]) VALUES (3, N'Nghiên cứu ', 3, N'Giấy khen', 2021, N'19QS044', 1)
SET IDENTITY_INSERT [dbo].[LaoDongSangTao] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuCapBac] ON 

INSERT [dbo].[LichSuCapBac] ([MaLSCD], [MaCB], [MaHV], [NgayQD], [XacNhan]) VALUES (1, 7, N'07002922', CAST(N'2020-08-12' AS Date), 1)
INSERT [dbo].[LichSuCapBac] ([MaLSCD], [MaCB], [MaHV], [NgayQD], [XacNhan]) VALUES (4, 3, N'17QS012', CAST(N'2020-08-12' AS Date), 1)
INSERT [dbo].[LichSuCapBac] ([MaLSCD], [MaCB], [MaHV], [NgayQD], [XacNhan]) VALUES (5, 4, N'07002967', CAST(N'2020-08-12' AS Date), 1)
SET IDENTITY_INSERT [dbo].[LichSuCapBac] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuChucDanh] ON 

INSERT [dbo].[LichSuChucDanh] ([MaLSCD], [MaCD], [MaHV], [NgayQD], [XacNhan], [MaDV]) VALUES (1, 12, N'07002922', CAST(N'2020-08-12' AS Date), 1, 38)
INSERT [dbo].[LichSuChucDanh] ([MaLSCD], [MaCD], [MaHV], [NgayQD], [XacNhan], [MaDV]) VALUES (2, 12, N'07002938', CAST(N'2020-08-12' AS Date), 1, 38)
INSERT [dbo].[LichSuChucDanh] ([MaLSCD], [MaCD], [MaHV], [NgayQD], [XacNhan], [MaDV]) VALUES (3, 11, N'07002967', CAST(N'2020-08-12' AS Date), 1, 38)
SET IDENTITY_INSERT [dbo].[LichSuChucDanh] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuDanhHieu] ON 

INSERT [dbo].[LichSuDanhHieu] ([MaLSDH], [MaDH], [MaHV], [NgayQD], [XacNhan]) VALUES (1, 3, N'12QS0979', CAST(N'2020-08-12' AS Date), 1)
INSERT [dbo].[LichSuDanhHieu] ([MaLSDH], [MaDH], [MaHV], [NgayQD], [XacNhan]) VALUES (2, 3, N'137SD548', CAST(N'2020-08-12' AS Date), 1)
INSERT [dbo].[LichSuDanhHieu] ([MaLSDH], [MaDH], [MaHV], [NgayQD], [XacNhan]) VALUES (3, 3, N'1875200125', CAST(N'2020-08-12' AS Date), 1)
SET IDENTITY_INSERT [dbo].[LichSuDanhHieu] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuTrinhDo] ON 

INSERT [dbo].[LichSuTrinhDo] ([MaLSTD], [MaTD], [MaHV], [NganhHoc], [TruongCap], [NgayQD], [XacNhan]) VALUES (1, 2, N'07002922', N'Cơ khí', N'Học viện Kỹ thuật quân sự', CAST(N'2020-08-12' AS Date), 1)
INSERT [dbo].[LichSuTrinhDo] ([MaLSTD], [MaTD], [MaHV], [NganhHoc], [TruongCap], [NgayQD], [XacNhan]) VALUES (2, 2, N'07002938', N'Chế tạo máy', N'Học viện Kỹ thuật quân sự', CAST(N'2020-08-12' AS Date), 1)
INSERT [dbo].[LichSuTrinhDo] ([MaLSTD], [MaTD], [MaHV], [NganhHoc], [TruongCap], [NgayQD], [XacNhan]) VALUES (3, 4, N'20QS044', N'Thông tin', N'Học viện Kỹ thuật quân sự', CAST(N'2020-08-12' AS Date), 1)
SET IDENTITY_INSERT [dbo].[LichSuTrinhDo] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiDangVien] ON 

INSERT [dbo].[LoaiDangVien] ([MaLDV], [TenLDV]) VALUES (1, N'Đảng viên chính thức')
INSERT [dbo].[LoaiDangVien] ([MaLDV], [TenLDV]) VALUES (2, N'Đảng viên dự bị')
INSERT [dbo].[LoaiDangVien] ([MaLDV], [TenLDV]) VALUES (3, N'Chưa kết nạp đảng')
SET IDENTITY_INSERT [dbo].[LoaiDangVien] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiHoatDong] ON 

INSERT [dbo].[LoaiHoatDong] ([MaLoaiHoatDong], [TenLoaiHoatDong]) VALUES (1, N'Hoạt động ủng hộ, đền ơn đáp nghĩa')
INSERT [dbo].[LoaiHoatDong] ([MaLoaiHoatDong], [TenLoaiHoatDong]) VALUES (2, N'Hoạt động phong trào, chăm sóc sức khỏe hội viên')
INSERT [dbo].[LoaiHoatDong] ([MaLoaiHoatDong], [TenLoaiHoatDong]) VALUES (3, N'Hoạt động chăm lo, giúp đỡ hội viên')
SET IDENTITY_INSERT [dbo].[LoaiHoatDong] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiHoiVien] ON 

INSERT [dbo].[LoaiHoiVien] ([MaLHV], [TenLHV]) VALUES (1, N'Sĩ quan')
INSERT [dbo].[LoaiHoiVien] ([MaLHV], [TenLHV]) VALUES (2, N'Quân nhân chuyên nghiệp')
INSERT [dbo].[LoaiHoiVien] ([MaLHV], [TenLHV]) VALUES (3, N'Công nhân viên Quốc phòng')
SET IDENTITY_INSERT [dbo].[LoaiHoiVien] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiLDST] ON 

INSERT [dbo].[LoaiLDST] ([MaLoaiLDST], [TenLoaiLDST]) VALUES (1, N'Đề tài cấp Nhà nước')
INSERT [dbo].[LoaiLDST] ([MaLoaiLDST], [TenLoaiLDST]) VALUES (2, N'Đề tài cấp Bộ quốc phòng')
INSERT [dbo].[LoaiLDST] ([MaLoaiLDST], [TenLoaiLDST]) VALUES (3, N'Đề tài cấp Học viện')
SET IDENTITY_INSERT [dbo].[LoaiLDST] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiTinBai] ON 

INSERT [dbo].[LoaiTinBai] ([MaLoaiTinbai], [TenLoaiTinBai]) VALUES (1, N'Gương người tốt, việc tốt')
INSERT [dbo].[LoaiTinBai] ([MaLoaiTinbai], [TenLoaiTinBai]) VALUES (2, N'Tin hoạt động')
INSERT [dbo].[LoaiTinBai] ([MaLoaiTinbai], [TenLoaiTinBai]) VALUES (3, N'Hoạt động học tập, NCKH')
SET IDENTITY_INSERT [dbo].[LoaiTinBai] OFF
GO
SET IDENTITY_INSERT [dbo].[NoiNhan] ON 

INSERT [dbo].[NoiNhan] ([Ma], [MaHPN], [MaCongVan]) VALUES (1, 1, 1)
INSERT [dbo].[NoiNhan] ([Ma], [MaHPN], [MaCongVan]) VALUES (2, 2, 1)
INSERT [dbo].[NoiNhan] ([Ma], [MaHPN], [MaCongVan]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[NoiNhan] OFF
GO
SET IDENTITY_INSERT [dbo].[PhongTraoThiDua] ON 

INSERT [dbo].[PhongTraoThiDua] ([Ma], [TenPhongTraoThiDua], [NgayBatDau], [NgayKetThuc], [SoLuongDeCu], [Khoa]) VALUES (1, N'Phong trào thi đua lập thành tích chào  mừng ngày thành lập QĐND Việt Nam 22/12', CAST(N'2022-10-20' AS Date), CAST(N'2022-12-22' AS Date), 30, 0)
INSERT [dbo].[PhongTraoThiDua] ([Ma], [TenPhongTraoThiDua], [NgayBatDau], [NgayKetThuc], [SoLuongDeCu], [Khoa]) VALUES (4, N'Phong trào thi đua chào mừng 65 năm ngày thành lập Học viên', CAST(N'2023-09-10' AS Date), CAST(N'2023-10-30' AS Date), 20, 0)
SET IDENTITY_INSERT [dbo].[PhongTraoThiDua] OFF
GO
INSERT [dbo].[TaiKhoan] ([TenDN], [MatKhau], [Quyen], [MaHV], [EditTime], [Khoa]) VALUES (N'1', N'c4ca4238a0b923820dcc509a6f75849b', 1, N'1', CAST(N'2021-07-08T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[TaiKhoan] ([TenDN], [MatKhau], [Quyen], [MaHV], [EditTime], [Khoa]) VALUES (N'10', N'6af8ed9ea47d91b6107400364174ce19', 3, N'10', CAST(N'2023-10-09T09:54:58.863' AS DateTime), 0)
INSERT [dbo].[TaiKhoan] ([TenDN], [MatKhau], [Quyen], [MaHV], [EditTime], [Khoa]) VALUES (N'10KC0658', N'199d2cbdcd964c34142d190caf9d194b', 3, N'10KC0658', CAST(N'2023-04-22T16:25:52.587' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[ThamGia] ON 

INSERT [dbo].[ThamGia] ([Ma], [HoTen], [DonVi], [MaLDST], [VaiTro], [MaHV]) VALUES (8, N'Chu Thị Hường', N'V4', 1, N'Chủ trì', N'1875200125')
INSERT [dbo].[ThamGia] ([Ma], [HoTen], [DonVi], [MaLDST], [VaiTro], [MaHV]) VALUES (9, N'Nguyễn Thị Vân', N'd1', 1, N'Tham gia', NULL)
INSERT [dbo].[ThamGia] ([Ma], [HoTen], [DonVi], [MaLDST], [VaiTro], [MaHV]) VALUES (10, N'Bùi Thị Thoa', N'd1', 2, N'Chủ trì', N'19QS015')
SET IDENTITY_INSERT [dbo].[ThamGia] OFF
GO
SET IDENTITY_INSERT [dbo].[TinBai] ON 

SET IDENTITY_INSERT [dbo].[TinBai] OFF
GO
SET IDENTITY_INSERT [dbo].[ToChucDoanThe] ON 

INSERT [dbo].[ToChucDoanThe] ([MaVTDT], [TenVTDT], [NamBatDau], [NamKetThuc]) VALUES (1, N'Phó bí thư đoàn', 2021, NULL)
SET IDENTITY_INSERT [dbo].[ToChucDoanThe] OFF
GO
SET IDENTITY_INSERT [dbo].[TrinhDo] ON 

INSERT [dbo].[TrinhDo] ([MaTD], [TenTD]) VALUES (1, N'Sơ cấp')
INSERT [dbo].[TrinhDo] ([MaTD], [TenTD]) VALUES (2, N'Trung cấp')
INSERT [dbo].[TrinhDo] ([MaTD], [TenTD]) VALUES (3, N'Cao đẳng')
SET IDENTITY_INSERT [dbo].[TrinhDo] OFF
GO
ALTER TABLE [dbo].[AnhTieuBieu]  WITH CHECK ADD FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
GO
ALTER TABLE [dbo].[BCH_CD]  WITH CHECK ADD FOREIGN KEY([MaCD])
REFERENCES [dbo].[CongDoan] ([MaCD])
GO
ALTER TABLE [dbo].[BCH_CD]  WITH CHECK ADD FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
GO
ALTER TABLE [dbo].[BCH_HPN]  WITH CHECK ADD FOREIGN KEY([MaHPN])
REFERENCES [dbo].[HoiPhuNu] ([MaHPN])
GO
ALTER TABLE [dbo].[BCH_HPN]  WITH CHECK ADD  CONSTRAINT [FK__BCH_HPN__MaHV__6754599E] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BCH_HPN] CHECK CONSTRAINT [FK__BCH_HPN__MaHV__6754599E]
GO
ALTER TABLE [dbo].[CapLaiMatKhau]  WITH CHECK ADD FOREIGN KEY([TenDN])
REFERENCES [dbo].[TaiKhoan] ([TenDN])
GO
ALTER TABLE [dbo].[CapLaiMatKhau]  WITH CHECK ADD FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
GO
ALTER TABLE [dbo].[CongVanBaoCao]  WITH NOCHECK ADD FOREIGN KEY([NoiGui])
REFERENCES [dbo].[HoiPhuNu] ([MaHPN])
GO
ALTER TABLE [dbo].[DanhSachBieuDuongPTTD]  WITH CHECK ADD FOREIGN KEY([MaPTTD])
REFERENCES [dbo].[PhongTraoThiDua] ([Ma])
GO
ALTER TABLE [dbo].[DanhSachBieuDuongPTTD]  WITH CHECK ADD FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
GO
ALTER TABLE [dbo].[HoanCanhGD]  WITH CHECK ADD  CONSTRAINT [FK__HoanCanhGD__MaHV__75A278F5] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoanCanhGD] CHECK CONSTRAINT [FK__HoanCanhGD__MaHV__75A278F5]
GO
ALTER TABLE [dbo].[HoatDong]  WITH CHECK ADD  CONSTRAINT [FK__HoatDong__MaLoai__25518C17] FOREIGN KEY([MaLoaiHoatDong])
REFERENCES [dbo].[LoaiHoatDong] ([MaLoaiHoatDong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoatDong] CHECK CONSTRAINT [FK__HoatDong__MaLoai__25518C17]
GO
ALTER TABLE [dbo].[HoatDong]  WITH NOCHECK ADD  CONSTRAINT [FK_HoatDong_HoiPhuNu] FOREIGN KEY([MaHPN])
REFERENCES [dbo].[HoiPhuNu] ([MaHPN])
GO
ALTER TABLE [dbo].[HoatDong] NOCHECK CONSTRAINT [FK_HoatDong_HoiPhuNu]
GO
ALTER TABLE [dbo].[HoatDong_HoiVien]  WITH CHECK ADD  CONSTRAINT [FK__HoatDong___MaHoa__282DF8C2] FOREIGN KEY([MaHoatDong])
REFERENCES [dbo].[HoatDong] ([MaHoatDong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoatDong_HoiVien] CHECK CONSTRAINT [FK__HoatDong___MaHoa__282DF8C2]
GO
ALTER TABLE [dbo].[HoatDong_HoiVien]  WITH CHECK ADD  CONSTRAINT [FK__HoatDong_H__MaHV__29221CFB] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoatDong_HoiVien] CHECK CONSTRAINT [FK__HoatDong_H__MaHV__29221CFB]
GO
ALTER TABLE [dbo].[HoiPhuNu]  WITH NOCHECK ADD  CONSTRAINT [FK_HoiPhuNu_HoiVien1] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
GO
ALTER TABLE [dbo].[HoiPhuNu] NOCHECK CONSTRAINT [FK_HoiPhuNu_HoiVien1]
GO
ALTER TABLE [dbo].[HoiVien]  WITH CHECK ADD FOREIGN KEY([MaCD])
REFERENCES [dbo].[CongDoan] ([MaCD])
GO
ALTER TABLE [dbo].[HoiVien]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DonVi] ([MaDV])
GO
ALTER TABLE [dbo].[HoiVien]  WITH CHECK ADD FOREIGN KEY([MaLDV])
REFERENCES [dbo].[LoaiDangVien] ([MaLDV])
GO
ALTER TABLE [dbo].[HoiVien]  WITH CHECK ADD  CONSTRAINT [FK__HoiVien__MaLHV__46E78A0C] FOREIGN KEY([MaLHV])
REFERENCES [dbo].[LoaiHoiVien] ([MaLHV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoiVien] CHECK CONSTRAINT [FK__HoiVien__MaLHV__46E78A0C]
GO
ALTER TABLE [dbo].[HoiVien]  WITH CHECK ADD FOREIGN KEY([MaVTCB])
REFERENCES [dbo].[HoiVien_ChiBo] ([MaVTCB])
GO
ALTER TABLE [dbo].[HoiVien]  WITH CHECK ADD FOREIGN KEY([MaVTDT])
REFERENCES [dbo].[ToChucDoanThe] ([MaVTDT])
GO
ALTER TABLE [dbo].[HoiVien]  WITH CHECK ADD FOREIGN KEY([MaVTDU])
REFERENCES [dbo].[HoiVien_DangUy] ([MaVTDU])
GO
ALTER TABLE [dbo].[HoiVien]  WITH CHECK ADD  CONSTRAINT [FK_HoiVien_HoiPhuNu] FOREIGN KEY([MaHPN])
REFERENCES [dbo].[HoiPhuNu] ([MaHPN])
GO
ALTER TABLE [dbo].[HoiVien] CHECK CONSTRAINT [FK_HoiVien_HoiPhuNu]
GO
ALTER TABLE [dbo].[HoiVien_ChiBo]  WITH CHECK ADD  CONSTRAINT [FK__HoiVien_C__MaChi__17036CC0] FOREIGN KEY([MaChiBo])
REFERENCES [dbo].[ChiBo] ([MaChiBo])
GO
ALTER TABLE [dbo].[HoiVien_ChiBo] CHECK CONSTRAINT [FK__HoiVien_C__MaChi__17036CC0]
GO
ALTER TABLE [dbo].[HoiVien_ChiBo]  WITH CHECK ADD FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
GO
ALTER TABLE [dbo].[HoiVien_DangUy]  WITH CHECK ADD  CONSTRAINT [FK__HoiVien_D__MaDan__19DFD96B] FOREIGN KEY([MaDangUy])
REFERENCES [dbo].[DangUy] ([MaDangUy])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoiVien_DangUy] CHECK CONSTRAINT [FK__HoiVien_D__MaDan__19DFD96B]
GO
ALTER TABLE [dbo].[HoiVien_DangUy]  WITH CHECK ADD FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
GO
ALTER TABLE [dbo].[KhenThuong]  WITH CHECK ADD  CONSTRAINT [FK__KhenThuong__MaHV__0880433F] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhenThuong] CHECK CONSTRAINT [FK__KhenThuong__MaHV__0880433F]
GO
ALTER TABLE [dbo].[KyLuat]  WITH CHECK ADD  CONSTRAINT [FK__KyLuat__MaHV__0B5CAFEA] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KyLuat] CHECK CONSTRAINT [FK__KyLuat__MaHV__0B5CAFEA]
GO
ALTER TABLE [dbo].[LaoDongSangTao]  WITH CHECK ADD  CONSTRAINT [FK__LaoDongSa__MaLoa__6FE99F9F] FOREIGN KEY([MaLoaiLDST])
REFERENCES [dbo].[LoaiLDST] ([MaLoaiLDST])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LaoDongSangTao] CHECK CONSTRAINT [FK__LaoDongSa__MaLoa__6FE99F9F]
GO
ALTER TABLE [dbo].[LaoDongSangTao]  WITH CHECK ADD  CONSTRAINT [FK__LaoDongSan__MaHV__76619304] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LaoDongSangTao] CHECK CONSTRAINT [FK__LaoDongSan__MaHV__76619304]
GO
ALTER TABLE [dbo].[LichSuCapBac]  WITH CHECK ADD  CONSTRAINT [FK__LichSuCapB__MaCB__628FA481] FOREIGN KEY([MaCB])
REFERENCES [dbo].[CapBac] ([MaCB])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuCapBac] CHECK CONSTRAINT [FK__LichSuCapB__MaCB__628FA481]
GO
ALTER TABLE [dbo].[LichSuCapBac]  WITH CHECK ADD  CONSTRAINT [FK__LichSuCapB__MaHV__6383C8BA] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuCapBac] CHECK CONSTRAINT [FK__LichSuCapB__MaHV__6383C8BA]
GO
ALTER TABLE [dbo].[LichSuChucDanh]  WITH CHECK ADD  CONSTRAINT [FK__LichSuChuc__MaCD__5165187F] FOREIGN KEY([MaCD])
REFERENCES [dbo].[ChucDanh] ([MaCD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuChucDanh] CHECK CONSTRAINT [FK__LichSuChuc__MaCD__5165187F]
GO
ALTER TABLE [dbo].[LichSuChucDanh]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DonVi] ([MaDV])
GO
ALTER TABLE [dbo].[LichSuChucDanh]  WITH CHECK ADD  CONSTRAINT [FK__LichSuChuc__MaHV__52593CB8] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuChucDanh] CHECK CONSTRAINT [FK__LichSuChuc__MaHV__52593CB8]
GO
ALTER TABLE [dbo].[LichSuDanhHieu]  WITH CHECK ADD  CONSTRAINT [FK__LichSuDanh__MaDH__571DF1D5] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DanhHieu] ([MaDH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuDanhHieu] CHECK CONSTRAINT [FK__LichSuDanh__MaDH__571DF1D5]
GO
ALTER TABLE [dbo].[LichSuDanhHieu]  WITH CHECK ADD  CONSTRAINT [FK__LichSuDanh__MaHV__5812160E] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuDanhHieu] CHECK CONSTRAINT [FK__LichSuDanh__MaHV__5812160E]
GO
ALTER TABLE [dbo].[LichSuTrinhDo]  WITH CHECK ADD  CONSTRAINT [FK__LichSuTrin__MaHV__5DCAEF64] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuTrinhDo] CHECK CONSTRAINT [FK__LichSuTrin__MaHV__5DCAEF64]
GO
ALTER TABLE [dbo].[LichSuTrinhDo]  WITH CHECK ADD  CONSTRAINT [FK__LichSuTrin__MaTD__5CD6CB2B] FOREIGN KEY([MaTD])
REFERENCES [dbo].[TrinhDo] ([MaTD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuTrinhDo] CHECK CONSTRAINT [FK__LichSuTrin__MaTD__5CD6CB2B]
GO
ALTER TABLE [dbo].[NoiNhan]  WITH CHECK ADD FOREIGN KEY([MaCongVan])
REFERENCES [dbo].[CongVanBaoCao] ([Ma])
GO
ALTER TABLE [dbo].[NoiNhan]  WITH NOCHECK ADD  CONSTRAINT [FK_NoiNhan_HoiPhuNu] FOREIGN KEY([MaHPN])
REFERENCES [dbo].[HoiPhuNu] ([MaHPN])
GO
ALTER TABLE [dbo].[NoiNhan] NOCHECK CONSTRAINT [FK_NoiNhan_HoiPhuNu]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK__TaiKhoan__MaHV__787EE5A0] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK__TaiKhoan__MaHV__787EE5A0]
GO
ALTER TABLE [dbo].[ThamGia]  WITH NOCHECK ADD  CONSTRAINT [FK__ThamGia__MaHV__3FD07829] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
GO
ALTER TABLE [dbo].[ThamGia] NOCHECK CONSTRAINT [FK__ThamGia__MaHV__3FD07829]
GO
ALTER TABLE [dbo].[ThamGia]  WITH CHECK ADD  CONSTRAINT [FK__ThamGia__MaLDST__756D6ECB] FOREIGN KEY([MaLDST])
REFERENCES [dbo].[LaoDongSangTao] ([MaLDST])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThamGia] CHECK CONSTRAINT [FK__ThamGia__MaLDST__756D6ECB]
GO
ALTER TABLE [dbo].[TinBai]  WITH CHECK ADD  CONSTRAINT [FK__TinBai__MaHV__1F98B2C1] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HoiVien] ([MaHV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TinBai] CHECK CONSTRAINT [FK__TinBai__MaHV__1F98B2C1]
GO
ALTER TABLE [dbo].[TinBai]  WITH CHECK ADD  CONSTRAINT [FK__TinBai__MaLoaiTi__208CD6FA] FOREIGN KEY([MaLoaiTinBai])
REFERENCES [dbo].[LoaiTinBai] ([MaLoaiTinbai])
GO
ALTER TABLE [dbo].[TinBai] CHECK CONSTRAINT [FK__TinBai__MaLoaiTi__208CD6FA]
GO
