@{
     var list = (List<Web_Girls.Models.ModelsView.LichSuTrinhDoView>)ViewBag.list;


}
<div class="modal-content">
     <div class="modal-header">
          <h4 class="modal-title">Lịch sử trình độ</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
     </div>
     <div class="modal-body">
          @if (list != null)
          {
               <table class="table table-hover table-bordered text-center">
                    <thead>
                         <tr>
                              <td style="font-weight:500">Trình độ</td>
                              <td>Ngành học</td>
                              <td>Nơi cấp</td>
                              <td>Ngày quyết định</td>
                         </tr>
                    </thead>
                    <tbody>
                         @foreach (var item in list)
                         {
                              <tr>
                                   <td>@item.TenTrinhDo</td>
                                   <td>@item.NganhHoc</td>
                                   <td>@item.TrươngCap</td>
                                   <td>@item.NgayQD.Value.ToShortDateString()</td>
                              </tr>
                         }
                    </tbody>
               </table>
          }
          else
          {
               <h2>Chưa có thông tin</h2>
          }


     </div>
</div>



