@{
     var list = (List<Web_Girls.Models.ModelsView.LichSuCapBacView>)ViewBag.list;
}
<div class="modal-content">
     <div class="modal-header">
          <h4 class="modal-title">Lịch sử cấp bậc</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
     </div>
     <div class="modal-body">
          <table class="table table-hover table-bordered text-center">
               <thead>
                    <tr>
                         <td style="font-weight:500">Cấp bậc</td>
                         <td>Ngày quyết định</td>
                    </tr>
               </thead>
               <tbody>
                    @foreach (var item in list)
                    {
                         <tr>
                              <td>@item.TenCapBac</td>
                              @if (item.NgayQD == null)
                              {
                                   <td>Chưa có thông tin</td>
                              }
                              else
                              {
                                   <td>@item.NgayQD.Value.ToShortDateString()</td>
                              }
                         </tr>
                    }
               </tbody>
          </table>


     </div>
</div>

