
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KhongCoQuyen</title>
</head>
<body>
     <div style="color:red">
          <h1>Yêu cầu của bạn bị từ chối</h1>
          <h2>Bạn không có quyền truy cập chức năng này</h2>

     </div>
</body>
</html>
